.header{
    height:60px;
    background:white;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-between;
    color: grey;
}

.header-logo , .header-logo img{
    height: 95%;
    justify-content: space-between;
    object-fit: contain;
    margin-left: 1.5%;
}
.header-logo {
    display: flex;
    justify-content: space-between;
}

.header-logo img:hover{
  opacity: 0.7;
}
.header-links {
    /* background:pink; */
    width: 50%;
}

.header-links ul {
   display:flex;
   background: white;
   /* width:100%; */
   justify-content: space-around;
   
}

.header-links ul li{
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.header-links ul li a{
    text-decoration: none;
    color: #1167b1;
    
    /* justify-content: space-between; */

}
.header-links ul li a:hover{
    color:#25CCF7;
    
}
.btn{
    border: 2px solid #182C61;
    border-radius: 3px;
    background: transparent;
    padding: 5px;
    width: 100%;
}

.btn:hover{
    padding: 5px;
    color:white;
    background:#182C61;
    /* border: black; */
    height: 100%;
    width: 100%;
}