*{
  font-family: 'Open Sans', sans-serif;
}

.signin-pg{
  display: flex;
  justify-content: space-evenly;
}
.signin{
  justify-content: space-evenly;
  width:50%;
  height: 350px;
  margin-left: 55px;
  margin-top: 140px;
 
}
.gradient-border {
  --borderWidth: 7px;
  background: white;
  position: relative;
  border-radius: var(--borderWidth);
}
.gradient-border:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}


@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.signin-text {
  justify-content: space-around;
  font-size: xx-large;
  margin-left: 120px;
 justify-content: space-between;
 padding: 20px;
 color:  #182C61;

}


.signin-textarea{
  color: #182C61; 
  margin-top: 18px;
  width: 100%;
  height: 50%;
  justify-content: space-between;
}

input{
  width: 95%;
  height: 35px;
  margin-left: 1%;
  padding: 0.5%;
  margin-top: 2px;
  margin-bottom: 20px;
  justify-content: space-between;
  
}
input[type="password"]
{
  -webkit-text-security: disc;
}

label{
  margin-left: 1%;
  
}
.buttons-login{
  display: flex;
  justify-content: space-evenly;
}

.login-btn {
  margin-left:21px;
  width: 180px;
  height: 45px;
  margin-top: 18px;
  padding: 3px;
  border: 1.8px solid #182C61;
  border-radius: 22px;
  color: solid #182C61;
  background: white;
}

.login-btn:hover{
  background: #182C61;
  color: white;
}
.sign-in{
  margin-left: -9px;
  width: 190px;
  height: 45px;
  margin-top: 18px;
  padding: 3px;
  border: 1.8px solid #182C61;
  border-radius: 22px;
  background: #182C61;
  color: white;
  outline: none;
 
}
.sign-in:hover{
  color:  black;
  background: white;
  outline: none;
  
}

.signin-image{
   margin-top: 70px;
  width:550px;
  height:400px;
  contain: content;
  margin-bottom: 20px;
  margin-left: 1%;
  
}
.signin-image img{
  height: 100%;
  width: 100%;
  object-fit: contain;
  flex-wrap: wrap;
  
}
.signin-img img{
  border-radius: 16%;
  padding: 2%;
}